* {
  box-sizing: border-box;
}
.body{
  background: #403C3B;
  margin: 0;
}
.container{
  max-width: 1280px;
  margin: auto;
}
.main{
  background: url(../img/main.png );
  background-size: cover;
  min-height: 40.25rem;
  background-position: center;
}
.main__h1{
  color:  white;
  transform: rotate(-8.37deg);
  max-width: 900px;
  font-size: 67px;
}
.main__btn{
  transform: rotate(-8.37deg);
}
.nav{
  display: flex;
  justify-content: center;
  gap: 68px;
  border-top: #CFCFCF;
  border-bottom: 1px grey solid;
  align-items: center;
  padding: 30px;
} 
.nav__link{
  color: #CFCFCF;
  text-decoration: none;
}
.nav__link:hover{
  border-bottom: 1px solid #618967;
box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
}
.card__title{
  margin-top: 20px;
  display: flex;
  border-left: 5px solid green;
  color: white;
  padding: 0 15px;
}
.card{
  // display: flex;
}
.scrolling {
 margin: 0 auto;
 display: flex;
 height: 10em;
 overflow-x: scroll;
 -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;

  }
}

.scrolling img {
 width: 10em;
 height: 10em;
 pointer-events: none;
 -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
.card__img{
  width: 200px;
}