* {
  box-sizing: border-box;
}
.body{
  background: #403C3B;
  margin: 0;
}
.container{
  max-width: 1280px;
  margin: auto;
}
.main{
  background: url(../img/main.png );
  background-size: cover;
  min-height: 40.25rem;
  background-position: center;
}
.main__h1{
  color:  white;
  transform: rotate(-8.37deg);
  max-width: 900px;
  font-size: 67px;
}
.main__btn{
  transform: rotate(-8.37deg);
}
.nav{
  display: flex;
  justify-content: center;
  gap: 68px;
  border-top: #CFCFCF;
  border-bottom: 1px grey solid;
  align-items: center;
  padding: 30px;
} 
.nav__link{
  color: #CFCFCF;
  text-decoration: none;
}
.nav__link:hover{
  border-bottom: 1px solid #618967;
box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
}
.card__title{
  margin-top: 20px;
  display: flex;
  border-left: 5px solid green;
  color: white;
  padding: 0 15px;
}
.card{
  // display: flex;
}
.scrolling {
 margin: 0 auto;
 display: flex;
 overflow-x: scroll;
 gap: 5px;
 -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none;

  }
}

.scrolling img {

 pointer-events: none;
 -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
.card-1{
  width:325px;
  color: white;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
}
.c{
  display: flex;
}
.naz{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.card-1__btn{
  color: white;
    border-radius: 100px;
    width: 150px;
    background: green;
    height: 50px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
  background-size: cover;
  min-height: 32.25rem;
  background-position: center;
  background: url(../img/main-2.png);
}
.main-2__title{
  color: white;
  max-width: 500px;
  
}
.main-2__cards{
  width: 100px;
  height: 100px;
  background-color: #403C3B;
}
.gps{
  background: url(../img/gps.png);
  background-size: cover;
  min-height: 40.25rem;
  background-position: center;
}
.gps__card{
  background-color: #403C3B;
  height: 405px;
  width: 526px;
  border-radius: 20px;
  padding: 20px;
  color: white;
}
.end{
  display: flex;
}
.end__title{
  display: block;
}